{{!-- Logic from 14-28 --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Free News Here</title>
  <link rel="stylesheet" href="/css/mystyles.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <h1 class="big-font title is-1 has-text-primary">NewsHound</h1>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        {{#if logged_in }}
        <a class="navbar-item" href="/"> Homepage</a>
                {{else}}
        <a class="navbar-item" href="/login">Login</a>
        {{/if}}
        </a>
        <a class="navbar-item" href="/managefeeds">Manage Feeds</a>

        <a class="navbar-item" href ="/saved">Saved Articles</a>

    

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{#unless logged_in}}
            <a class="navbar-item button is-primary" href="/login">Login</a>
            {{/unless}}


            {{#if logged_in}}
            <div class="navbar-item button is-light" id="logout"> Logout</div> 
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </nav>


  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>

  </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in }}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
