<h1 class="has-text-centered">Your News</h1><br>

<div class="columns">
  <div class="column is-one-quarter">
    First column
    {{#each items as |item|}}
    <p>
    {{item.headline}} 
    </p>
    {{/each}}
  </div>
  <div class="column is-one-quarter">
    Second column
  </div>
  <div class="column is-one-quarter">
    Third column
  </div>
  <div class="column is-one-quarter">
    Fourth column
  </div>
</div>