{{#each feeds as |feed|}}
<div class="card">
    <div class="card-content">
        <div class="content">
            <label class="checkbox">
                <input type="checkbox" class="feed-check" {{#if feed.subscribed}}checked{{/if}}
                    data-feed_id={{feed.id}}>
                {{feed.name}}
            </label>
        </div>
    </div>
</div>
{{/each}}
<br>
<button class="button" id="update-feeds">Save Changes</button>

<script>
    const updateFeedsHandler = async (event) => {
        event.preventDefault();
        let inputElements = document.getElementsByClassName('feed-check');
        const subsToAdd = [];
        for (let i = 0; i < inputElements.length; i++) {
            if (inputElements[i].checked) {
                subsToAdd.push(
                    inputElements[i].dataset.feed_id
                );
            }
        }
        console.log(`subs to add ${subsToAdd}`);
        const response = await fetch('api/subscribed/addnew/', {
            method: 'POST',
            body: JSON.stringify(subsToAdd),
            headers: { 'Content-Type': 'application/json' },
        });
        if (response.ok) {
         const response = await fetch('api/items/runparse/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
          });
          if (response.ok) {
            document.location.replace('/');
          } else {
            alert('Failed to update items');
          }
        } else {
            alert('Failed to update items');
        }

    };

    document
       .querySelector('#update-feeds')
       .addEventListener('click', updateFeedsHandler);
       console.log('added event listener to manage feeds');
</script>