{{#each feeds as |feed|}}
<div class="card">
    <div class="card-content">
        <div class="content">
            <label class="checkbox">
                <input type="checkbox" checked>
                {{feed.name}}
            </label>
            {{feed.subscribeds.createdAt}}
        </div>
    </div>
</div>
{{/each}}