{{#each feeds as |feed|}}
<div class="card">
    <div class="card-content">
        <div class="content">
            <label class="checkbox">
                <input type="checkbox" class="feed-check" {{#if feed.subscribed}}checked{{/if}}
                    data-feed_id={{feed.id}}>
                {{feed.name}}
            </label>
        </div>
    </div>
</div>
{{/each}}
<br>
<button class="button" id="update-feeds">Save Changes</button>

<script src="/js/manage-feeds.js"></script>